.heading{
  background-image: url("./backgroundImages/h_img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  color: white;
  padding-top: 30vh;
}
#logo{
  padding-bottom: 20px;
}
#mouseclick{
  padding-top : 22px;
  margin-top: 10%;
  padding-bottom: 30px;
}
