.heading{
  background-image: url("./backgroundImages/h_img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  color: white;
  padding-top: 30vh;
}
#logo{
  padding-bottom: 20px;
}
#mouseclick{
  padding-top : 22px;
  margin-top: 10%;
  padding-bottom: 30px;
}
#mouseclick{
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-name: bounce;
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.about{
  text-align: center;
  padding-top: 20px;
  font-family: serif;
}
.services{
  text-align: center;
  background-image: url("./backgroundImages/s_image.jpg") ;
  color: white;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Copse', serif;
  font-size: 18px;
  background-color: rgba(0,0,0,0.4);
  background-blend-mode: multiply;
  padding-top: 5%;
  padding-bottom: 5%;
}
.portfolio{
  text-align: center;
}
.col-md-3 img{
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 20px;
  position: relative;
}
.whatwedo{
  text-align: center;
  padding-top: 20px;
}
.name{
  max-width: 50%;
}
.email{
  max-width: 50%;
}
#message{
  max-width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.contact{
  text-align: center;
}
.contact{
  background-image: url("./backgroundImages/c_image.jpg");
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.4);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 2%;
  padding-bottom: 3%;
}
#name , #email , #message{
  background: transparent;
  color: white;
}
.form-control::-webkit-input-placeholder {
  color: white;
}
.icon{
  text-align: center;
}
.last{
  text-align: center;
}
.details{
  display: none;
  font-family: fantasy;
}
.details-section{
  padding-top: 10px;
  padding-bottom: 20px;
  cursor: pointer;
}
